<%= form_for(@resource, url: manage_path(id: @resource), html: {:class => 'form-horizontal resources'}) do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label(:tag_list, :class => 'control-label') %>
      <div class="controls">
        <%= f.hidden_field(:tag_list, class: 'select2-offscreen', id: 'tags_field', style: 'width:92%;') %>
      </div>
    </div>
    <%= content_tag(:div, class: 'toggle-resource-location') do %>
        <%= f.fields_for(:location, @resource.location) do |lf| %>
            <div class="control-group">
              <%= lf.label(:address, 'Location', class: 'control-label') %>
              <div class="controls">
                <%= lf.text_field(:address, class: 'text_field') %>
              </div>
            </div>
            <div class="control-group">
              <%= lf.label(:region_id, class: 'control-label') %>
              <div class="controls">
                <%= lf.select(:region_id, Location::REGIONS.map { |x| [x.name, x.id] }, class: 'text_field') %>
              </div>
            </div>
        <% end %>
        <div class="coordinates">
          <%= f.fields_for(:location, @resource.location) do |lf| %>
              <div class="control-group">
                <%= lf.label :latitude, :class => 'control-label' %>
                <div class="controls">
                  <%= lf.text_field :latitude, :class => 'text_field' %>
                </div>
              </div>
              <div class="control-group">
                <%= lf.label :longitude, :class => 'control-label' %>
                <div class="controls">
                  <%= lf.text_field :longitude, :class => 'text_field' %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

    <div class="form-actions" style="margin-top: 0;padding-top: 10px;padding-bottom: 10px;">
      <div id="submit_control">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
      <div id="add_loc" class="toggle-button">
        <%= f.check_box(:add_location) %>
      </div>
      <div id="coords_control">
        <span id="add_coords" class="toggle-button">
          <%= f.check_box(:add_coordinates) %>
        </span>
      </div>
    </div>
<% end %>
<%= hidden_field_tag(:tag_data, @tags.join(',')) %>